.horizontallineR {
	border-bottom: 2px solid black;
	display: block;
	float: right;
	padding-top: 180px;
	height: 180px;
	width: 360px;
}

.horizontallineL {
	border-bottom: 2px solid black;
	display: block;
	float: left;
	padding-top: 180px;
	height: 180px;
	width: 360px;
}

.imageswaplipstick {
	display: block;
 	margin: auto;
	background-image: url('/2.JPG');
	width: 360px;
	height: 360px;
}

.imageswaplipstick:hover {
	background-image: url('/lipstick-gif.gif')
}

.imageswapcoats {
	display: block;
	margin: auto;
	background-image: url('/12.JPG');
	width: 360px;
	height: 360px;
}

.imageswapcoats:hover {
	background-image: url('/coats.gif')
}

.imageswappoem {
	display: block;
	margin: auto;
	background-image: url('/5.JPG');
	width: 360px;
	height: 360px;
}

.imageswappoem:hover {
	background-image: url('/poem.gif')
}

.imageswapthursdaycrawl {
	display: block;
	margin: auto;
	background-image: url('/18.JPG');
	width: 360px;
	height: 360px;
}

.imageswapthursdaycrawl:hover {
	background-image: url('/thursdaycrawl.gif')
}

.imageswapred {
	display: block;
	margin: auto;
	background-image: url('/7.JPG');
	width: 360px;
	height: 360px;
}

.imageswapred:hover {
	background-image: url('/red.gif')
}

.imageswapwwav {
	display: block;
	margin: auto;
	background-image: url('/2.JPG');
	width: 360px;
	height: 360px;
}

.imageswapwwav:hover {
	background-image: url('/wwav.gif');
}

.imageswapoyl {
	display: block;
	margin: auto;
	background-image: url('/18.JPG');
	width: 360px;
	height: 360px;
}

.imageswapoyl:hover {
	background-image: url('/oyl.gif');
}

.imageswapjulia {
	display: block;
	margin: auto;
	background-image: url('/aboutjulia.jpg');
	width: 360px;
	height: 360px;
}

.imageswapjulia:hover {
	background-image: url('/armpits-gif.gif');
}

.imageswapjuju {
	display: block;
	margin: auto;
	background-image: url('/aboutjuju.jpg');
	width: 360px;
	height: 360px;
}

.imageswapjuju:hover {
	background-image: url('/Julia-Apples-GIF.gif');
}

.imageswaprachel {
	display: block;
	margin: auto;
	background-image: url('/aboutrachel.jpg');
	width: 360px;
	height: 360px;
}

.imageswaprachel:hover {
	background-image: url('/hands-gif.gif');
}

.imageswapwombservice {
	display: block;
	margin: auto;
	background-image: url('/tempwombsbnw.jpg');
	width: 360px;
	height: 360px;
}

.imageswapwombservice:hover {
	background-image: url('/tempwombscolor.jpg');
}

.imageswapwwyw {
	display: block;
	margin: auto;
	background-image: url('/tempwwywbnw.jpg');
	width: 360px;
	height: 360px;
}

.imageswapwwyw:hover {
	background-image: url('/tempwwywcolor.jpg');
}

.imageswapclambake {
	display: block;
	margin: auto;
	background-image: url('/tempclambakebnw.jpg');
	width: 360px;
	height: 360px;
}

.imageswapclambake:hover {
	background-image: url('/tempclambakecolor.jpg');
}

.imageswapproject {
	display: block;
	margin: auto;
	background-image: url('/tempproject0bnw.jpg');
	width: 360px;
	height: 360px;
}

.imageswapproject:hover {
	background-image: url('/tempproject0color.jpg');
}